{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>It.Next - IT Service Responsive Html Theme</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icons -->
<link rel="icon" href="{% static 'products/images/fevicon/fevicon.png' %}" type="image/gif" />
<!-- bootstrap css -->
<!-- <link rel="stylesheet" href="{% static 'products/css/bootstrap.min.css' %}" /> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->

<!-- Site css -->
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'products/css/responsive.css' %}" />
<!-- colors css -->
<link rel="stylesheet" href="{% static 'products/css/colors1.css' %}" />
<!-- custom css -->
<link rel="stylesheet" href="{% static 'products/css/custom.css' %}" />
<!-- wow Animation css -->
<link rel="stylesheet" href="{% static 'products/css/animate.css' %}" />

<link rel="stylesheet" href="{% static 'products/css/style.css' %}" />

<link rel="stylesheet" href="{% static 'products/css/checkout.css' %}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<link rel="stylesheet" href="{% static 'products/css/bootstrap/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'products/css/mdb.min.css' %}">


<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />


</head>
<body id="default_theme" class="it_shop_list">
  
<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="{% static 'products/images/loaders/loader_1.png' %}" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row header-row justify-content-between">
        <div class="col-md-6">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 right_section_header_top d-flex justify-content-end align-items-center gap-5">
            <div class="social-media-icons">
              <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram"></i>
              </a>
              <!-- Add more social media icons as needed -->
          </div>
          <div class="login-register-btn">
            <div class="make_appo">
               <a id="login" href="/users/login"><button class="btn btn-primary m-0 authentication-btn under text-decoration-underline">Login</button> </a>
               <a id="register" href="/users/register"><button class="btn btn-dark m-0 authentication-btn">Register</button> </a>
               <a id="logout" class="ml-3" href="/users/logout" style="text-decoration:underline!important; color:gray"><button class="btn btn-info m-0 authentication-btn text-decoration-underline">Logout</button></a>

              </div>
            <!-- <div class="make_appo">  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="/"><img src="{% static 'products/images/logos/it_logo.png' %}" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a href="/products/">Home</a>
                </li>
             
                <li> <a class="active" href="/products/shop">Shop</a>
                </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                
                  <li class="cart-icon" id="cart-icon">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalCart">
                        <div class="cart-container" style=" display: flex;
                        align-items: center;
                        position: relative;">
                            <i class="fas fa-shopping-cart" style="font-size: 24px;
                            margin-right: 5px;"></i>
                               <span id="cart-counter" style="z-index: 2;
                               font-size: 11px;
                               border-radius: 50%;
                               background: #d60b28;
                               position:absolute;
                               width: 16px;
                               height: 16px;
                               line-height:16px;
                               display: block;
                               text-align: center;
                               color: white;
                               font-family: 'Roboto', sans-serif;
                               font-weight: bold;
                               top: 10px;
                              right: -2px;
                               ">0</span>
                        </div>
                    </a>
                </li>
              </ul>
          </div>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Launch modal</button> -->
        
        
          
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">{% block page_header_title %}{% endblock %}</h1>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active" href="/products">Shop</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
{% block content %}

{% endblock %}


 <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <!--Header-->
     <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Your cart</h4>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         <!-- <span aria-hidden="true"></span> -->
       </button>
     </div>
     <!--Body-->
     <div class="modal-body">

       <table class="table table-hover equal-height-table">
         <thead>
           <tr>
             <th>#</th>
             <th>Product name</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Remove</th>
           </tr>
         </thead>
         <tbody class="cart-body">
           <!-- <tr>
             <td><img class="img-fluid" src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGljfGVufDB8fDB8fHww&w=1000&q=80" alt=""></td>
             <th scope="row">1</th>
             <td>100$</td>
             <td class='d-flex'><button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></td>
           </tr> -->
          
         </tbody>
       </table>

     </div>
     <!--Footer-->
     <div class="modal-footer justify-content-between align-items-center">
        <p class="align-self-start font-weight-bold" style="color:black">Total</p>
        <p class="align-self-end font-weight-bold" id="total" style="color:black"></p>

       <div class="d-flex  w-100">
        <button class="btn btn-primary w-100" id="checkoutBtn"><a class="w-100" href="/products/checkout" style="text-decoration: none; color:white">Checkout</a></button>
       </div>
     </div>
   </div>
 </div>
</div>




<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="map_section col-md-4">
        <div id="map">
          <div style="width: 100%"><iframe width="100%" height="700px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Population Estimator map</a></iframe></div>
          
        </div>
      </div>
      <div class="footer_blog col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>It Next Theme</h2>
            </div>
            <p>Tincidunt elit magnis nulla facilisis. Dolor sagittis maecenas. Sapien nunc amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orci.</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Additional links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="#"><i class="fa fa-angle-right"></i> About us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Privacy policy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> News</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Services</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="#"><i class="fa fa-angle-right"></i> Data recovery</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Computer repair</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Mobile service</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Network solutions</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Technical support</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Contact us</h2>
            </div>
            <p>123 Second Street Fifth Avenue,<br>
              Manhattan, New York<br>
              <span style="font-size:18px;"><a href="tel:+9876543210">+987 654 3210</a></span></p>
            <div class="footer_mail-section">
              <form>
                <fieldset>
                <div class="field">
                  <input placeholder="Email" type="text">
                  <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- end footer -->
<!-- js section -->
<!-- <script src="{% static 'products/js/jquery.min.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- <script src="{% static 'products/js/bootstrap.min.js' %}"></script> -->

<script src="{% static 'products/js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'products/js/mdb.min.js' %}"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
<!-- menu js -->
<script src="{% static 'products/js/menumaker.js' %}"></script>
<!-- wow animation -->
<script src="{% static 'products/js/wow.js' %}"></script>
<!-- custom js -->
<!-- checkout page js -->
<script src="{% static 'products/js/checkout.js' %}"></script>

<script src="{% static 'products/js/filter.js' %}"></script>
<script src="{% static 'products/js/custom.js' %}"></script>

</body>
</html>
